[submodule "external/PyFR"]
	path = external/PyFR
	url = https://www.github.com/JacobCrabill/PyFR.git

[submodule "external/tioga"]
    path = external/tioga
    url = https://www.github.com/jsitaraman/tioga.git
    branch = zefr-api

[submodule "external/Eigen"]
	path = external/Eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
