# Template configfile for ZEFR

# --- General build variables --- #
# Target Architecture (CPU or GPU).
TARGET_ARCH = GPU

# Host compilers (defaults to gcc, g++)
CC =
CXX =

# Using OpenMP (YES or NO, default: NO)
USE_OPENMP = NO

# Build Directory (optional, defaults to bin/)
BUILDDIR =

# Turn verbose compilation warnings on/off (YES or NO, default: NO)
WARNINGS = NO

# Set debug level - 1: Turn on -g, -O1; 0: Turn off -g, use -Ofast
DEBUG_LEVEL = 0

# Enable GIMMIK GEMM kernels (YES or NO, default: YES)
USE_GIMMIK = YES

# --- GPU-specific build variables (required if compiling for GPU) --- #
# CUDA toolkit install root
CUDA_ROOT = /usr/local/cuda

# GPU compute capability
CUDA_CC = 70

# CUDA enable NVTX ranges (YES or NO, default: NO)
CUDA_NVTX = NO

# -- MPI-specific build variables -- #
# Use MPI (YES or NO, default: NO)
USE_MPI = YES

# MPI install root
MPI_ROOT = /home/cuda/josh/libraries/openmpi-4.0.1

# MPI distribution (OMPI, INTEL, or IBM)
MPI_DIST = OMPI

# Enable CUDA-aware MPI features (YES or NO, default: NO)
MPI_CUDA_AWARE = YES

# --- Build variables for overset versions of ZEFR with TIOGA --- #
# TIOGA install root (included version used by default)
TIOGA_ROOT =

# .config file used to build Tioga
TIOGA_CONFIG =

# --- Additional build variables for external dependencies --- #
# BLAS distribution (STANDARD, OPENBLAS, MKL or ESSL)
BLAS_DIST = MKL

# BLAS install root
BLAS_ROOT = /opt/mkl/

# HDF5 install root
HDF5_ROOT = /home/cuda/josh/libraries/hdf5-1.10.5-serial-cxx

# METIS install root (required for MPI builds)
METIS_ROOT = /home/cuda/josh/libraries/metis-5.1.0

# --- Python-related paths for SWIG wrapping --- #
# Python header location
PYTHON_INC_DIR =

# Python mpi4py includes location
MPI4PY_INC_DIR =

# Python numpy includes location
NUMPY_INC_DIR =
