# Makefile.in for ZEFR
# Simply substitute what you need here for compilation. It is suggested that 
# you end all directory paths with a forward slash (/) to avoid issues with 
# whitespace in the Makefile.
#
# Notes: 
# - This code requires an OpenMP aware C++ compiler. 
# - If using a multithreaded BLAS, like OpenBLAS, you should force it to run
#   single threaded, as it will cause performance issues otherwise. For example, 
#   using OpenBLAS, you can export the following environment variable:
#   	export OPENBLAS_NUM_THREADS=1



# Target Architecture (CPU or GPU).
ARCH = CPU

#Using OpenMP (YES or NO)
OPENMP = NO

# Use MPI (YES or NO)
MPI = YES

# Turn verbose compilation warnings on/off (YES or NO)
WARNINGS = NO

# Set debug level - 1: Turn on -g, -O1; 0: Turn off -g, use -Ofast
DEBUG_LEVEL = 0

# MPI directories
MPI_INC_DIR = /usr/local/lib
MPI_LIB_DIR = /usr/local/include

# METIS directories
METIS_INC_DIR = 
METIS_LIB_DIR = 

# BLAS Type and Path (STANDARD, OPENBLAS, or ATLAS)
BLAS = OPENBLAS
BLAS_LIB_DIR = /usr/local/openblas/0.2.14/lib
BLAS_INC_DIR = /usr/local/openblas/0.2.14/include

# HDF5 Path
HDF5_LIB_DIR = /usr/local/hdf5/lib
HDF5_INC_DIR = /usr/local/hdf5/include
