# Summit configfile for ZEFR
# Notes: These are the required modules to load on Summit:
# module load gcc cuda essl hdf5 metis

# --- General build variables --- #
# Target Architecture (CPU or GPU).
TARGET_ARCH = GPU

# Host compilers (defaults to gcc, g++)
CC =
CXX =

# Using OpenMP (YES or NO, default: NO)
USE_OPENMP = NO

# Build Directory (optional, defaults to bin/)
BUILDDIR =

# Turn verbose compilation warnings on/off (YES or NO, default: NO)
WARNINGS = NO

# Set debug level - 1: Turn on -g, -O1; 0: Turn off -g, use -Ofast
DEBUG_LEVEL = 0

# Enable GIMMIK GEMM kernels (YES or NO, default: YES)
USE_GIMMIK = YES

# --- GPU-specific build variables (required if compiling for GPU) --- #
# CUDA toolkit install root
CUDA_ROOT = $(OLCF_CUDA_ROOT)

# GPU compute capability
CUDA_CC = 70

# CUDA enable NVTX ranges (YES or NO, default: NO)
CUDA_NVTX = NO

# -- MPI-specific build variables -- #
# Use MPI (YES or NO, default: NO)
USE_MPI = YES

# MPI install root
MPI_ROOT = $(OLCF_SPECTRUM_MPI_ROOT)

# MPI distribution (OMPI, INTEL, or IBM)
MPI_DIST = IBM

# Enable CUDA-aware MPI features (YES or NO, default: NO)
MPI_CUDA_AWARE = YES

# --- Additional build variables for external dependencies --- #
# BLAS distribution (STANDARD, OPENBLAS, MKL or ESSL)
BLAS_DIST = ESSL

# BLAS install root
BLAS_ROOT = $(OLCF_ESSL_ROOT)

# HDF5 install root
HDF5_ROOT = $(OLCF_HDF5_ROOT)

# METIS install root (required for MPI builds)
METIS_ROOT = $(OLCF_METIS_ROOT)

