# Makefile.in for ZEFR
# Simply substitute what you need here for compilation. It is suggested that 
# you end all directory paths with a forward slash (/) to avoid issues with 
# whitespace in the Makefile.
#
# Notes: 
# - This code requires an OpenMP aware C++ compiler. 
# - If using a multithreaded BLAS, like OpenBLAS, you should force it to run
#   single threaded, as it will cause performance issues otherwise. For example, 
#   using OpenBLAS, you can export the following environment variable:
#   	export OPENBLAS_NUM_THREADS=1
#
# Required modules on Summit:
# module load gcc cuda essl hdf5 metis

# Target Architecture (CPU or GPU).
ARCH = GPU

#Using OpenMP (YES or NO)
OPENMP = NO

# Use MPI (YES or NO)
MPI = YES
MPI_TYPE = IBM

# Turn verbose compilation warnings on/off (YES or NO)
WARNINGS = NO

# Set debug level - 1: Turn on -g, -O1; 0: Turn off -g, use -Ofast
DEBUG_LEVEL = 0

# MPI directories
MPI_INC_DIR   = $(OLCF_SPECTRUM_MPI_ROOT)/include
MPI_LIB_DIR   = $(OLCF_SPECTRUM_MPI_ROOT)/lib

# METIS directories
METIS_INC_DIR = $(OLCF_METIS_ROOT)/include
METIS_LIB_DIR = $(OLCF_METIS_ROOT)/lib

# BLAS Type and Path (STANDARD, OPENBLAS, ATLAS, MKL or ESSL)
BLAS = ESSL
BLAS_INC_DIR = $(OLCF_ESSL_ROOT)/include
BLAS_LIB_DIR = $(OLCF_ESSL_ROOT)/lib64

# HDF5 Paths
HDF5_INC_DIR = $(OLCF_HDF5_ROOT)/include
HDF5_LIB_DIR = $(OLCF_HDF5_ROOT)/lib

# CUDA Path
CUDA_DIR = $(OLCF_CUDA_ROOT)
SM = VOLTA
