# Makefile.in for ZEFR
# Simply substitute what you need here for compilation. It is suggested that 
# you end all directory paths with a forward slash (/) to avoid issues with 
# whitespace in the Makefile.
#
# Notes: 
# - This code requires an OpenMP aware C++ compiler. 
# - If using a multithreaded BLAS, like OpenBLAS, you should force it to run
#   single threaded, as it will cause performance issues otherwise. For example, 
#   using OpenBLAS, you can export the following environment variable:
#   	export OPENBLAS_NUM_THREADS=1



# Target Architecture (CPU or GPU).
ARCH = GPU

#Using OpenMP (YES or NO)
OPENMP = NO

# Using MPI (YES or NO)
MPI = YES

# MPI/METIS Path
MPI_DIR   =  /usr/mpi/gcc/openmpi-1.8.4/
METIS_DIR =  /home/stanford/gerritsn/users/abisheks/libraries/metis-5.1.0

# BLAS Type and Path (STANDARD, OPENBLAS, or ATLAS)
BLAS = ATLAS
BLAS_DIR = /usr/lib64/atlas

# CUDA Path
CUDA_DIR = /global/software/Core/CUDA/7.5.18/

AUX_DIR = /home/stanford/gerritsn/users/abisheks/libraries
